.orbit1 {
  animation: orbitAround1 4s linear infinite;
  animation-name: orbitAround1;
}

@keyframes orbitAround1 {
  from {
    transform: rotate(0deg) translate(93px) rotate(0deg);
  }
  to {
    transform: rotate(360deg) translate(93px) rotate(-360deg);
  }
}

.orbit2 {
  animation: orbitAround2 500ms linear infinite;
  animation-name: orbitAround2;
}

@keyframes orbitAround2 {
  from {
    transform: rotate(0deg) translate(50px) rotate(0deg);
  }
  to {
    transform: rotate(360deg) translate(50px) rotate(-360deg);
  }
}
